<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Scrum</title>
    <!-- 필요한 경우 CSS 링크 추가 -->
</head>
<body>
<h1>Add New Scrum</h1>

<form th:action="@{/scrum/add}" th:object="${scrum}" method="post">
    <div>
        <label for="scrumTitle">Scrum Title:</label>
        <input type="text" id="scrumTitle" name="scrumTitle" th:field="*{scrumTitle}" required />
    </div>
    <div>
        <label for="scrumDescription">Description:</label>
        <textarea id="scrumDescription" name="scrumDescription" th:field="*{scrumDescription}" required></textarea>
    </div>
    <div>
        <label for="scrumDate">Date:</label>
        <input type="date" id="scrumDate" name="scrumDate" th:field="*{scrumDate}" required />
    </div>
    <!--    hidden으로 projectId를 html에 받아옴 왜? 서버측에서 정보를 저장하려고-->
    <input type="hidden" name="projectId" th:value="${projectId}" />
    <div>
        <button type="submit">Add Scrum</button>
    </div>
</form>
</body>
</html>

