<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자 평가</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        .custom-btn {

          padding: 10px;
          background-color: #153453; /* 원하는 배경색으로 변경 */
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
    </style>
</head>
<body class="bg-light">
<header>
    <a th:href="@{/}"><img src="/images/mainLogo.png" alt="Main Logo" style="width: 180px; height: 120px;"></a>
</header>
<div class="container mt-5">
    <h2 th:text="${project.projectTitle}" class="mb-4"></h2>
    <p th:text="${project.date}" class="mb-4"></p>
    <p th:text="${project.projectDescription}" class="mb-4"></p>

    <form th:object="${evaluationForm}" method="post">
        <table class="table">
            <thead>
            <tr>
                <th>평가 대상</th>
                <th>점수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="evaluation, iterStat : ${evaluationForm.evaluations}">
                <td th:text="${evaluation.evaluatee.userName}"></td>
                <td>
                    <input type="hidden" th:field="*{evaluations[__${iterStat.index}__].evaluatee.id}" th:value="${evaluation.evaluatee.id}" />
                    <input type="number" th:field="*{evaluations[__${iterStat.index}__].score}" class="form-control" />
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary btn custom-btn">평가 제출</button>
    </form>
</div>

<!-- Add Bootstrap JS (Optional, if needed) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pzjw8+/q1TKXAYA6M6FVrT2ysMXI6iK3LIEI5JkTq3u1PEdPrRp2TCdbD68hbd"
        crossorigin="anonymous"></script>

</body>
</html>
