<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <title>Create Post</title>
  <style>
    .custom-btn {
      width: 100%;
      padding: 10px;
      background-color: #153453; /* 원하는 배경색으로 변경 */
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

  </style>
  <!-- Add your styles if needed -->
</head>
<body>
<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h2 class="text-center" style="font-size: 24px;">게시물 작성</h2>
      <form method="post">
        <div class="mb-3">
          <label for="postTitle" class="form-label">게시물 제목</label>
          <input type="text" id="postTitle" name="postTitle" th:field="${post.postTitle}" class="form-control border-0 rounded-0" required/>
        </div>
        <hr> <!-- 시각적 구분을 위한 수평 선 추가 -->
        <div class="mb-3">
          <label for="postDescription" class="form-label">게시물 내용</label>
          <textarea id="postDescription" name="postDescription" th:field="${post.postDescription}" class="form-control border-0 rounded-0" cols="80" required></textarea>
        </div>
        <hr> <!-- 시각적 구분을 위한 수평 선 추가 -->
        <div class="mb-3">
          <label for="projectTitle" class="form-label">프로젝트 제목</label>
          <input type="text" id="projectTitle" name="projectTitle" th:field="${post.project.projectTitle}" class="form-control border-0 rounded-0" required/>
        </div>
        <hr> <!-- 시각적 구분을 위한 수평 선 추가 -->
        <div class="mb-3">
          <label for="date" class="form-label">날짜</label>
          <input type="text" id="date" name="date" th:field="${post.project.date}" class="form-control border-0 rounded-0" required/>
        </div>
        <hr> <!-- 시각적 구분을 위한 수평 선 추가 -->
        <div class="mb-3">
          <label for="projectDescription" class="form-label">프로젝트 설명</label>
          <textarea id="projectDescription" name="projectDescription" th:field="${post.project.projectDescription}" class="form-control border-0 rounded-0" required></textarea>
        </div>
        <hr> <!-- 시각적 구분을 위한 수평 선 추가 -->
        <div class="mb-3">
          <label for="memberCount" class="form-label">프로젝트 멤버 수</label>
          <input type="number" id="memberCount" name="memberCount" th:field="${post.project.memberCount}" class="form-control border-0 rounded-0" required/>
        </div>
        <hr> <!-- 시각적 구분을 위한 수평 선 추가 -->
        <!-- Add other fields as needed -->

        <button type="submit" class="btn custom-btn">작성 완료</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>

