<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project List</title>
</head>
<body>
<h1>Projects</h1>
<form th:action="@{/evaluatees}" method="post">
    <ul>
        <li th:each="project : ${projects}">
            <span th:text="${project.projectTitle}">Project Title</span> -
            <span th:text="${project.date}">Project Date</span>

            <!-- Button to evaluate project -->
            <button type="submit" th:attr="name='projectId', value=${project.projectId}">Evaluate</button>
        </li>
    </ul>
</form>
</body>
</html>
