<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 필요한 메타 태그 및 CSS 링크 -->
    <title>Scrum Details</title>
</head>
<body>
<header>
    <a th:href="@{/}"><img src="/images/mainLogo.png" alt="Main Logo" style="width: 180px; height: 120px;"></a>
</header>
<h1>Scrum List</h1>
<ul class="list-group">
    <li th:each="scrum : ${scrumList}" class="list-group-item">
        <div>
            <h3 th:text="${scrum.scrumTitle}">Scrum Title</h3>
            <p th:text="${scrum.scrumDescription}">Scrum Description</p>
            <p th:text="${scrum.scrumDate}">Scrum Date</p>
        </div>
    </li>
</ul>
</body>
</html>
