<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Vote Results</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body class="bg-light">

<div class="container mt-5">
    <h2>Vote Results</h2>

    <!-- Idea and Vote Count -->
    <ul class="list-group">
        <li th:each="idea : ${ideas}" class="list-group-item">
            <!-- Idea Title -->
            <h3 th:text="${idea.ideaTitle}" class="mb-1">Idea Title</h3>

            <!-- Idea Description -->
            <p th:text="${idea.ideaDescription}" class="mb-1">Idea Description</p>

            <!-- Vote Count -->
            <p>Votes: <span th:text="${#lists.size(idea.votedUsers)}">0</span></p>
        </li>
    </ul>
</div>

</body>

</html>
